.thumbnail {
  margin: 0 auto;
  height: 14rem;
  width: 14rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
}

.projectcard {
  width: 14rem;
  min-width: 14rem;
  margin-right: 3rem;
  border-radius: 1rem;
}

.cardtext {
  padding-bottom: 0.5rem;
}